<footer>
    <p>Copyright © 2020 Acampando Ando. Domiciolio Legal: Costa Rica 456. Tandil, Buenos Aires. Cel: 0249 -
        154549328.
        Todos los derechos reservados acampandoando.com.ar . El uso de este sitio web implica la aceptación de los
        Términos y Condiciones de Acampando Ando. Las fotos son a modo ilustrativo. La venta de cualquiera de los
        productos publicados está sujeta a la verificación de stock. Los precios online y los planes de financiación
        para los productos presentados/publicados en www.acampandoando.com.ar son válidos exclusivamente para la
        compra vía internet en la página antes mencionada. Las especificaciones técnicas y descripciones están
        sujetas a cambios sin previo aviso.</p>
</footer>
