footer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(190, 190, 190);
    text-align: justify;
    height: 5%;
    width: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font: Arial, Helvetica, sans-serif;
    font-weight:normal;
    margin:  2px 0px;
}