<section class="contenedorContactenos">

    <div class="contenido-contactenos">

        <div>
            <form class="formulario-contacto" action="">

                Nombre <input type="text" name="nombre" value="">
                Apellido <input type="text" name="apellido" value="">
                Masculino <input type="radio" name="sexo" value="masculino">
                Femenino <input type="radio" name="sexo" value="femenino">
                Mail <input type="email" name="mail" value="">
                Celular <input type="text" name="celular" value="">
                Localidad <input type="text" name="localidad" value="">
                Domicilio <input type="text" name="domicilio" value="">

                <p>Como se entero de nuestra empresa:</p>

                <div class="check">
                    Television <input type="checkbox" name="difusion" value="television">
                    Radio <input type="checkbox" name="difusion" value="radio">
                    Diario <input type="checkbox" name="difusion" value="diario">
                    Redes Sociales <input type="checkbox" name="difusion" value="redes sociales">
                    Otro <input type="checkbox" name="difusion" value="otro">
                </div>

                <p>Seleccion metodo de contacto favorito</p>

                <select class="form-check">
                    <option value="celular">Celular</option>
                    <option value="telofono fijo">Telefono fijo</option>
                    <option value="facebook">Facebook</option>
                    <option value="mail">Mail</option>
                </select>

                <p>Deje su consulta aqui</p>

                <textarea name="text" id="" cols="10" rows="10"></textarea>

                <p class="boton">
                    <input id="enviar" class="enviar" type="submit" name="enviar" value="enviar">

                <p class="resultado-captcha" id="resultado"></p>
            </form>
        </div>

        <ul class="listaRedes">

            <li> <a href="https://www.facebook.com/distribucion.tandil.75/" target="blank"><img
                        src="assets/distribuciontandil/logo-facebook.jpg" class="imagen-redes"> </a> Facebook</li>
            <li> <a href="https://www.instagram.com/distribuciontandil/" target="blank"> <img
                        src="assets/distribuciontandil/logo-instagram.jpg" class="imagen-redes"> </a> Instagram </li>
            <li> <img src="/assets/distribuciontandil/logo-whatsaap.jpg" class="imagen-redes"> 249-4549328</li>
            <li> <img src="assets/distribuciontandil/logo-gmail.jpg" class="imagen-redes"> acampandoando@gmail.com</li>
        </ul>

    </div>
    <aside> </aside>

</section>