<section>
    <div class="cuerpo">
        <h1>Quienes Somos</h1>

        <h4>Acampando Ando es una empresa de Tandil con más 5 años de trayectoria, operando hoy en dia en más de 30
            localidades en la provincia de Buenos Aires.</h4>

        <p>La empresa tiene como pilar la eficiencia y el servicio. Gracias a esto, cubrimos las necesidades de un
            público que busca información, asesoramiento, garantía y calidad, posicionándonos como la empresa líder
            en el mercado de camping y actividades al aire libre. A lo largo del tiempo, la empresa se ha convertido
            en un referente para nuestros consumidores y clientes , gracias a la gran variedad de marcas y modelos,
            los mejores precios y nuestra financiación.</p>

        <h3> FACTORES DE EXITO</h3>

        <p>Mucho de nuestro exitoso crecimiento se sustenta en estos 3 pilares:

        <ul class="lista-cuerpo">

            <li> Énfasis en un servicio y asesoría honesta y profesional a nuestros clientes y amigos</li>
            <li> Pasión por la calidad en lo que hacemos, compramos y vendemos.</li>
            <li> Una política de precios justos, similares a los sugeridos por los propios fabricantes para sus
                mercados nativos.</li>

        </ul>


        <h3>EN QUÉ CREEMOS:</h3>

        <p>Creemos y apoyamos el respeto y cuidado de la naturaleza y del medio ambiente, legado imprescindible para
            nuestros hijos y los que nos sigan después.
            Creemos en el deporte como modo de vida, salud y crecimiento.
            Creemos en las buenas relaciones con nuestros clientes, proveedores, y con todas las personas con las
            que interactuamos.</p>

        <h3>MISIÓN</h3>

        <p>Estamos determinados a ofrecer un servicio de excelencia y los mejores precios del mercado, ocupándonos
            de brindar soluciones que se traduzcan en una mejora de la calidad de vida de nuestros clientes.</p>

        <h3>VISIÓN</h3>

        <p>Con toda la energía puesta en nuestros clientes y en los productos que ofrecemos, buscamos liderar en
            experiencias de compras. Llevando nuestros beneficios y soluciones cada vez a más personas.</p>
    </div>

    <aside></aside>
</section>
